.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 14px 14px 14px;
    width: 100%;
    border-bottom: 2px solid;
}

.header h1 { 
    font-size: 24px;
    font-weight: bold;
}