@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;	
	font-size: 12px;
	color: #005481;

	

	background-color: #F0F0F0;

	height: 100%;
	width: 100%;
}

